.app {
  background-color: red;
}

.table {
  border-collapse: collapse;
}

.table-title {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.th {
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  height: 14px;
  width: 32px;
}

.td {
  box-sizing: border-box;
  font-size: 8px;
  height: 14px;
  width: 14px;
}

.value {
  border: 1px solid transparent;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}

.value:hover {
  border: 1px solid #000;
}
